<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>The Productive Dev</title>
  </head>
  <body
    class="font-inter bg-white tracking-tight text-slate-800 antialiased dark:bg-slate-900 dark:text-slate-200">
    <div class="mx-auto max-w-7xl">
      <div class="flex min-h-screen">
        <slot />
      </div>
    </div>
  </body>
</html>
