---
import Head from '@components/Head.astro';
import SideNav from '@components/SideNav';
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
  <Head siteUrl="https://theproductive.dev/"/>
  <body
    class="font-inter bg-white tracking-tight text-slate-800 antialiased dark:bg-slate-900 dark:text-slate-200">
    <div class="mx-auto max-w-7xl">
      <div class="flex min-h-screen">
		  <SideNav client:only="react" />
        <slot />
      </div>
    </div>
  </body>
</html>
